@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 0rem 1rem;
}

h1 {
  font-weight: 800;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  line-height: clamp(2.5rem, 5vw, 3.5rem);
}

p {
  color: hsl(236, 13%, 42%);
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
a:active {
  pointer-events: none;
}

hr {
  border: 1px solid hsl(236, 13%, 42%);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: clamp(1rem, 8vw, 3rem) 0;
}

.logo {
  width: clamp(45px, 5vw, 65px);
  height: clamp(28px, 3vw, 40px);
  margin: auto 0;
}

.ham-toggle {
  position: relative;
  z-index: 100;
  background: url("../images/icon-menu.svg") no-repeat center;
  width: 50px;
  height: 50px;
}

.nav-items {
  background: hsl(36, 100%, 99%);
  font-size: 1.1rem;
  font-weight: 400;
  display: flex;
  position: fixed;
  flex-direction: column;
  gap: 1.7rem;
  z-index: 90;
  right: -200%;
  top: 0;
  width: 70vw;
  height: 100vh;
  padding: 9rem 1.5rem;
  list-style: none;
  box-shadow: 0 0 100vw black;
}

.open {
  position: fixed;
}

.grid {
  display: grid;
  gap: clamp(1rem, 4vw, 2rem);
  max-width: 1100px;
  margin: 0 auto clamp(2.3rem, 8vw, 4rem);
}

.hero {
  background: no-repeat url("../images/image-web-3-mobile.jpg") 0/100%;
  min-width: 280px;
  height: 300px;
}

.title {
  padding-top: 0.3rem;
}

.new {
  display: flex;
  flex-direction: column;
  gap: clamp(1.8rem, 8vw, 1.9rem);
  max-width: 340px;
  background: hsl(240, 100%, 5%);
  padding: clamp(1.5rem, 8vw, 2rem) 1.5rem;
  margin: 0 auto;
}
.new h2 {
  color: hsl(35, 77%, 62%);
  font-size: clamp(2rem, 8vw, 2.3rem);
  font-weight: 600;
}

.new-art {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 8vw, 0.6rem);
  color: hsl(36, 100%, 99%);
}
.new-art h3 {
  font-size: 1.2rem;
}
.new-art h3:hover {
  color: hsl(35, 77%, 62%);
}
.new-art p {
  color: hsl(233, 8%, 79%);
}

.top-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 2rem;
  max-width: 1100px;
  margin: clamp(0rem, 8vw, 2.5rem) auto 4rem;
}

.art {
  display: flex;
  gap: 1.5rem;
}
.art img {
  width: 100px;
  height: clamp(120px, 12vw, 127px);
}

.top-art-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.top-art-wrap h2 {
  color: hsl(233, 8%, 79%);
  font-size: 1.8rem;
}
.top-art-wrap h3 {
  font-weight: 800;
}
.top-art-wrap h3:hover {
  color: hsl(5, 85%, 63%);
}

.btn {
  background: hsl(5, 85%, 63%);
  padding: 0.9rem 2rem;
  border: none;
  margin: clamp(1.6rem, 8vw, 2.25rem) 0 2.8rem;
}
.btn:hover {
  background: hsl(240, 100%, 5%);
}
.btn a {
  text-decoration: none;
  color: hsl(36, 100%, 99%);
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 5px;
}

@media screen and (min-width: 800px) {
  .grid {
    margin: 0 auto 2rem;
  }
  .hero {
    background: no-repeat url("../images/image-web-3-desktop.jpg") 0/cover;
    grid-column: 1/span 2;
  }
  .new {
    grid-row: 1/span 2;
    grid-column: 3;
  }
  .btn {
    margin-bottom: 0;
  }
  .ham-toggle {
    display: none;
  }
  .nav-items {
    position: relative;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: hsl(236, 13%, 42%);
    align-self: flex-start;
    z-index: 0;
    width: auto;
    height: auto;
    padding: 0;
    right: 0;
    box-shadow: none;
  }
  .nav-item:hover {
    color: hsl(35, 77%, 62%);
  }
}/*# sourceMappingURL=main.css.map */