.main-nav
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 1100px
    margin: 0 auto
    padding: clamp(1rem, 8vw, 3rem) 0

.logo
    width: clamp(45px, 5vw, 65px )
    height: clamp(28px, 3vw, 40px)
    margin: auto 0

.ham-toggle
    position: relative
    z-index: 100
    background: url("../images/icon-menu.svg") no-repeat center
    width: 50px
    height: 50px

.nav-items
    background: $off-white
    font-size: 1.1rem
    font-weight: $font-regular
    display: flex
    position: fixed
    flex-direction: column
    gap: 1.7rem
    z-index: 90
    right: -200%
    top: 0
    width: 70vw
    height: 100vh
    padding: 9rem 1.5rem
    list-style: none
    box-shadow: 0 0 100vw black
    

.grid
    display: grid
    gap: clamp(1rem, 4vw, 2rem)
    max-width: 1100px
    // grid-template-columns: repeat(auto-fit, minmax(333px, 1fr))
    margin: 0 auto clamp(2.3rem, 8vw, 4rem)

.hero
    background: no-repeat url("../images/image-web-3-mobile.jpg") 0/100%
    min-width: 280px
    // max-width: 1200px
    height: 300px

.title
    padding-top: .3rem

.new
    display: flex
    flex-direction: column
    gap: clamp(1.8rem, 8vw, 1.9rem)
    max-width: 340px
    // max-height: 510px
    background: $vdark-blue
    padding: clamp(1.5rem, 8vw, 2rem) 1.5rem
    margin: 0 auto
    h2
        color: $soft-orange
        font-size: clamp(2rem, 8vw, 2.3rem)
        font-weight: $font-semi

.new-art
    display: flex
    flex-direction: column
    gap: clamp(.5rem, 8vw, .6rem)
    color: $off-white
    h3
        font-size: 1.2rem
        &:hover
            color: $soft-orange
    p
        color: $grayish-blue

.top-articles
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr))
    gap: 2rem
    max-width: 1100px
    margin: clamp(0rem, 8vw, 2.5rem) auto 4rem

.art
    display: flex
    gap: 1.5rem
    img
        width: 100px
        height: clamp(120px, 12vw, 127px)

.top-art-wrap
    display: flex
    flex-direction: column
    gap: .5rem
    h2
        color: $grayish-blue
        font-size: 1.8rem
    h3
        font-weight: $font-extra
        &:hover
            color: $soft-red

