.btn
    background: $soft-red
    padding: .9rem 2rem
    border: none
    margin: 1.6rem 0 2.8rem
    a
        text-decoration: none
        color: $off-white
        font-size: .8rem
        font-weight: $font-semi
        letter-spacing: 5px