body
    font-family: "Inter", sans-serif
    font-weight: $font-regular
    font-size: 15px
    padding: 0rem 1rem

h1
    font-weight: $font-extra
    font-size: 2.5rem
    line-height: 2.5rem

p
    color: $dark-grayish-blue
    line-height: 1.6rem

hr
    border: 1px solid $dark-grayish-blue